<section class="section section-height-3 bg-color-transparent border-0 pb-0 m-0" style="background-image: url(img/demos/it-services/backgrounds/dots-background-3.png); background-repeat: no-repeat; background-position: 112% 100%;">
    <div class="container container-xl-custom mt-4">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-lg-7 col-xl-5 mb-5 mb-lg-0">
                <span class="d-block custom-text-color-grey-1 font-weight-bold mb-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
                    WHO WE ARE
                </span>
                <h2 class="text-color-dark font-weight-bold text-8 line-height-2 negative-ls-1 pb-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
                    Delivering Innovative Web and Mobile Solutions Tailored to Your Business Needs.
                </h2>
                <p class="custom-text-size-1 pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100">
                    As a trusted partner in the digital realm, we work closely with businesses and individuals to create engaging and user-friendly websites and mobile applications. Our dedicated team of experts combines cutting-edge technologies with industry best practices to develop solutions that are tailored to meet the unique needs of each client.
                </p>
                <p class="custom-text-size-1 pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                    By leveraging our technical proficiency, creativity, and attention to detail, we deliver innovative solutions that drive business growth and enhance user engagement. We take pride in our ability to transform ideas into reality, offering end-to-end services from conceptualization and design to development and deployment.
                </p>
                <p class="custom-text-size-1 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1300">
                    With a customer-centric approach, we prioritize open communication, timely delivery, and ongoing support to ensure our clients' success. Our commitment to excellence extends beyond the initial project, as we provide continuous updates, maintenance, and optimization services to keep your digital assets performing at their best.
                </p>
            </div>
            <div class="col-md-10 col-lg-5 ms-xl-auto">
                <img src="~/Content/Theme/images/aboutus-generic-1.png" class="img-fluid position-relative z-index-1 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1500" alt="Our Company" style="animation-delay: 1500ms;">
            </div>
        </div>
    </div>
</section>

