<section id="services" class="section custom-section-full-width bg-color-transparent border-0 mt-0 mb-1" style="background-image: url(img/demos/it-services/backgrounds/dots-background-2.png); background-repeat: no-repeat; background-position: bottom right;">
    <div class="container container-xl-custom pb-5 mb-5">
        <div class="row">
            <div class="col">
                <div class="overflow-hidden mb-2">
                    <span class="d-block font-weight-bold custom-text-color-grey-1 text-center line-height-1 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">OUR SERVICES</span>
                </div>
                <div class="overflow-hidden mb-5">
                    <h2 class="text-color-dark font-weight-bold text-center text-8 line-height-2 mb-0 appear-animation" style="letter-spacing:1.5px" data-appear-animation="maskUp" data-appear-animation-delay="500">CodiTech Covers</h2>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
                @*<img src="~/Content/Theme/images/backup-data-server.svg" class="img-fluid" width="100" alt="" data-icon="" data-plugin-options="{&#39;onlySVG&#39;: true, &#39;extraClass&#39;: &#39;svg-fill-color-primary pb-2 mb-4&#39;}">*@
                <h4 class="text-color-primary font-weight-bold text-6 mb-3">Innovation and Adaptability</h4>
                <p class="custom-text-size-1 px-lg-4" style="font-size:14px !important; text-align:justify"> Embrace innovation and stay ahead of the curve by exploring new technologies, methodologies, and trends. Foster a culture of creativity and encourage your team to come up with innovative solutions. Adaptability is also important to address changing client requirements, market demands, and emerging technologies.</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center mt-lg-5 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="850">
                @*<img src="./Demo IT Services _ Porto - Multipurpose Website Template_files/remove-monitor-access.svg" class="img-fluid" width="100" alt="" data-icon="" data-plugin-options="{&#39;onlySVG&#39;: true, &#39;extraClass&#39;: &#39;svg-fill-color-dark pb-2 mb-4&#39;}">*@
                <h4 class="text-color-dark font-weight-bold text-6 mb-3">Skilled Workforce</h4>
                <p class="custom-text-size-1 px-lg-4" style="font-size:14px !important; text-align:justify"> Professionals with expertise in programming languages, software development methodologies, and technology stacks relevant to your company's focus area. Investing in continuous learning and professional development to keep team up to date with the latest technologies and industry trends.</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-md-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1050">
                @*<img src="./Demo IT Services _ Porto - Multipurpose Website Template_files/password-lock-secure.svg" class="img-fluid" width="100" alt="" data-icon="" data-plugin-options="{&#39;onlySVG&#39;: true, &#39;extraClass&#39;: &#39;svg-fill-color-primary pb-2 mb-4&#39;}">*@
                <h4 class="text-color-primary font-weight-bold text-6 mb-3">Quality Assurance</h4>
                <p class="custom-text-size-1 px-lg-4" style="font-size:14px !important; text-align:justify">Delivering high-quality software is vital for client satisfaction and reputation. Implement robust quality assurance processes, including thorough testing, code reviews, and quality control measures. This ensures that your software meets the client's requirements, functions correctly, and is free from bugs and errors.</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center mt-lg-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1250">
                @*<img src="./Demo IT Services _ Porto - Multipurpose Website Template_files/floppy-disk-memory.svg" class="img-fluid" width="100" alt="" data-icon="" data-plugin-options="{&#39;onlySVG&#39;: true, &#39;extraClass&#39;: &#39;svg-fill-color-dark pb-2 mb-4&#39;}">*@
                <h4 class="text-color-dark font-weight-bold text-6 mb-3">Security and Data Privacy</h4>
                <p class="custom-text-size-1 px-lg-4" style="font-size:14px !important; text-align:justify">Ensure that your software products and infrastructure are secure from potential threats. Implement security best practices, perform regular security audits, and stay updated with the latest security standards and protocols. Respect client data privacy and comply with relevant regulations (e.g., GDPR, CCPA) to build trust with your clients.</p>
            </div>
        </div>
    </div>
</section>
