@{
    Html.RenderPartial("_Header");
}

<div role="main" class="main">
    <section class="page-header page-header-modern custom-page-header-style-1 bg-color-primary page-header-lg mb-0">
        <div class="container container-xl-custom py-5">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="font-weight-extra-bold text-14 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">CAREERS</h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-end breadcrumb-light appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
                        <li><a href="#">Home</a></li>
                        <li class="active">Careers</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section custom-section-full-width bg-color-transparent border-0 mt-0 mb-1" style="background-image: url(img/demos/it-services/backgrounds/dots-background-4.png); background-repeat: no-repeat; background-position: top right;">
        <div class="container container-xl-custom pt-3 mt-4">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="overflow-hidden mb-2">
                        <span class="d-block font-weight-bold custom-text-color-grey-1 text-center line-height-1 mb-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="300">BE PART OF OUR TEAM</span>
                    </div>
                    <div class="overflow-hidden mb-4">
                        <h2 class="text-color-dark font-weight-bold text-center text-8 line-height-2 mb-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="500">Joins Us In Your Greatest Professional Mission</h2>
                    </div>
                    <p class="custom-text-size-1 text-center mb-5 appear-animation animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700"> Our employees are our most valuable asset, and we want to provide them with the opportunity to grow and develop their skills. We offer a variety of training programs and careers evolution possibilities, which enables our employees to stay current in their field and grow within the company</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <div class="accordion accordion-modern without-bg appear-animation animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" id="accordion11">
                        <div class="card card-default">
                            <div class="card-header">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle px-4 pt-3" data-bs-toggle="collapse" data-bs-parent="#accordion11" href="#collapse11One">
                                        SENIOR SOFTWARE DEVELOPER
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse11One" class="collapse show">
                                <div class="card-body px-4 pt-2 pb-5">
                                    <p class="custom-text-size-1 pb-1 mb-4">The Senior Software Developer is a skilled professional focused on the design and creation of software. They are responsible for the development and delivery of software solutions from concept to completion.</p>
                                    <h5>RESPONSIBILITIES</h5>
                                    <ul>
                                        <li class="custom-text-size-1">
                                            Perform coding to written technical specifications.
                                        </li>
                                        <li class="custom-text-size-1">
                                            Developing applications based upon customer requirements and industry standards
                                        </li>
                                        <li class="custom-text-size-1">
                                            Research standard extensions/solutions for common business applications.
                                        </li>
                                        <li class="custom-text-size-1">
                                            Perform usability testing and assessment for product, as well as ad hoc usability evaluations of varying levels of complexity.
                                        </li>
                                    </ul>
                                    <ul class="list list-inline list-unstyled">
                                        <li class="list-inline-item"><strong class="text-color-dark">LOCATION:</strong> NAGPUR</li>
                                        <li class="list-inline-item"><strong class="text-color-dark">QUALIFICATION:</strong> 3+ YEARS EXPERIENCE, GRADUATION</li>
                                    </ul>
                                    <a href="demo-it-services-contact.html" class="btn btn-secondary btn-outline text-color-dark font-weight-semibold border-width-4 custom-link-effect-1 text-1 text-xl-3 d-inline-flex align-items-center px-4 py-3">APPLY NOW <i class="custom-arrow-icon ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-default">
                            <div class="card-header">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle px-4 pt-3" data-bs-toggle="collapse" data-bs-parent="#accordion11" href="#collapse11Two">
                                        SOFTWARE DEVELOPER
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse11Two" class="collapse">
                                <div class="card-body px-4 pt-2 pb-5">
                                    <p class="custom-text-size-1 pb-1 mb-4">Freshers from various Programmes such as Diploma, any degree Graduates, Postgraduates, Bachelors and Masters in Engineering, Management, Finance, Arts, Commerce, Science are eligible.</p>
                                    <h5>RESPONSIBILITIES</h5>
                                    <ul>
                                        <li class="custom-text-size-1">
                                            Assist in the design and development of Software Solutions using various .NET frameworks
                                        </li>
                                        <li class="custom-text-size-1">
                                            Utilize understanding of the full software life cycle and strong knowledge in Design Methodology – UML.
                                        </li>
                                        <li class="custom-text-size-1">
                                            Perform coding to written technical specifications.
                                        </li>
                                        <li class="custom-text-size-1">
                                            Developing applications based upon customer requirements and industry standards.
                                        </li>
                                    </ul>
                                    <ul class="list list-inline list-unstyled">
                                        <li class="list-inline-item"><strong class="text-color-dark">LOCATION:</strong> NAGPUR</li>
                                        <li class="list-inline-item"><strong class="text-color-dark">QUALIFICATION:</strong> FRESHER, GRADUATION</li>
                                    </ul>
                                    <a href="demo-it-services-contact.html" class="btn btn-secondary btn-outline text-color-dark font-weight-semibold border-width-4 custom-link-effect-1 text-1 text-xl-3 d-inline-flex align-items-center px-4 py-3">APPLY NOW <i class="custom-arrow-icon ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>